.locationCont {
    height: 25px;
    color: #888;
}

.lineCont h1 {
    margin: 0;
}

.weatherLocationCont {
    max-width: 98%;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
}