.locationList {
    overflow: auto;
    overflow-x: hidden;
    height: 93vh;
}

@media (max-width: 62em) {
    .locationList {
        height: 30vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}